<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/cssandjs/normalize.css}" rel="stylesheet" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Survey Home</title>
    <style>
        header{
            text-align: center;
        }
        .Label{
            text-align: center;
        }
        h2{
            font-family: cursive;
            font-size: large;
        }
    </style>
</head>
<body>
    <header class="bodyGridRow headerGridContainer">
        <h1>Welcome to Survey Creation</h1>
    </header>

    <div class="Main">
        <div class="Label">
            <h2> Please select your questions for the survey.</h2>
        </div>

        <div class="DropDown">


        </div>

    </div>

</body>
</html>