<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    .main{
        text-align: center;
        height: auto;
    }
    #submit{
        padding: 8px;
        border: 1px solid black;
        background-color: #58ffe1;
        font-family: cursive;
        font-size: medium;
        color: black;
    }

</style>
</head>
<body>
<div class="main">
    <form action="" th:action="@{/courseadmin}" method="post">
        <input type="submit"  id="submit" name="courseadmin" value="Course Admin">
    </form>
</div>

</body>
</html>