<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title> Forgot Password </title>
	</head>
	<body>
		<h1> Password Recovery </h1>
		<p> Please Enter Your Email Address To Recover Your Password</p>
		<form method="post" th:action="@{/forgot-password}">
			<p>
				<label for="email"> email </label>
				<input type="text" id="email" name="email" placeholder="EMail" required autofocus>
			</p>
			<button name="submit" type="submit"> Recover My Account </button>
		</form>
	</body>
</html>
