<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div class="container">

    <div align="center" style="font-size: 50px">Welcome to the Group Formation Tool.</div>
    <br>
    <table align="center">
            <tr><td><a href="/login" style="font-size: 20px">Login</a></td>
            </tr>
            <tr><td><a href="/signup" style="font-size: 20px">Register</a></td>
            </tr>
    </table>
<!--    <div>-->
<!--        <p th:text="*{message}"></p> <br/>-->
<!--    </div>-->
</div>
</body>
</html>